#include <winresrc.h>

#include <ZookieWizard/GUI_defines.h>


////////////////////////////////////////////////////////////////
// Zasoby z innych plików
////////////////////////////////////////////////////////////////

IDM_ICON ICON "kao2ar.ico"
IDM_BITMAP BITMAP "logo.bmp"


////////////////////////////////////////////////////////////////
// Wersja pliku
////////////////////////////////////////////////////////////////

#define Wersja_Num 0,0,3,0
#define Wersja_Txt "0.0.3.0\0"

1 VERSIONINFO

// Wersja Pliku
FILEVERSION Wersja_Num

// Wersja Produktu
PRODUCTVERSION Wersja_Num

// 32-bitowa wersja Microsoft Windows
FILEOS VOS__WINDOWS32

// Rodzaj pliku: Aplikacja
FILETYPE VFT_APP

// Atrybuty pliku
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0

{
	BLOCK "StringFileInfo"
	{
		// Language code = 0x0415 (Polish)
		// Character set = 1252 (Multilingual)
		BLOCK "041504E4"
		{
            VALUE "FileDescription", "Zookie Wizard — ""Elephant Engine"" editor"
            VALUE "ProductName", "Zookie Wizard"

            VALUE "CompanyName", "Flower35 (Radek Krzyœków)"
            VALUE "LegalCopyright", "(c) Radek Krzyœków (2020-2022)"

            VALUE "FileVersion", Wersja_Txt
			VALUE "ProductVersion", Wersja_Txt

			VALUE "OriginalFilename", "ZookieWizard.exe"
			VALUE "InternalName", "ZookieWizard"
		}
	}
	BLOCK "VarFileInfo"
    {
		VALUE "Translation", 0x0415, 0x04E4
	}
}
